@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  overflow-x: hidden;
}
